body {
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-beautiful-wallpaper-computer-wallpaper-picture-image_1483864.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.base {
    display: flex;
    justify-content: center;
}
button {
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}
h1, h2 {
    font-family: "Roboto", sans-serif;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }